<section id="carrusel-1">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 slide-item img-1">
          <h1 class="text-container font-semibold text-2xl">Soluciones IT</h1>
        </div>
        <div class="swiper-slide slide-2 slide-item img-2">
          <h1 class="text-container font-semibold text-2xl">Cableado y Fibra óptica</h1>
        </div>
        <div class="swiper-slide slide-3 slide-item img-3">
          <h1 class="text-container font-semibold text-2xl">Redes eléctricas</h1>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
</section>