<div
  class="flex justify-center align-middle items-center w-full h-auto p-10 my-5"
>
  <img src="../../../assets/cisco-meraki.png" alt="" class="h-[100px]" />
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 px-32">
  <div>
    <h1 class="font-semibold text-4xl">
      Seguridad de Red y SD-WAN
      <span class="text-ataria-color">Gestionadas en la Nube</span>
    </h1>
    <br />
    <p>
      Los dispositivos de seguridad de Cisco Meraki pueden implementarse de
      forma remota en cuestión de minutos mediante el aprovisionamiento
      automatizado en la nube. La configuración de seguridad es fácil de
      sincronizar en miles de sitios mediante el uso de plantillas.
    </p>
    <br />
    <p>
      La tecnología Auto VPN conecta de manera segura las sucursales en 3 clics,
      a través de un panel intuitivo basado en la web. Administre y monitoree
      intuitivamente las ubicaciones físicas para garantizar experiencias
      seguras para todos.
    </p>
  </div>
  <div class="contenedor lg:my-0 my-10">
    <img src="../../../assets/laptop.jpg" alt="" />
  </div>
  <div class="contenedor lg:my-0 my-10">
    <img src="../../../assets/img7.jpg" alt="" />
  </div>
  <div>
    <h1 class="font-semibold text-4xl">
      Solución <span class="text-ataria-color">Escalable</span>
    </h1>
    <br>
    <p>
      Escalable desde sitios pequeños hasta implementaciones de millones de
      usuarios Meraki es escalabilidad Meraki puede empezar la instalación desde
      un solo access point y escalar tanto como sea necesario.
    </p>
  </div>
</div>

<div
  class="flex justify-center align-middle items-center w-full h-auto p-10 my-5"
>
  <img src="../../../assets/ubiquitilog.jpg" alt="" class="h-[100px]" />
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 px-32 mb-32">
  <div>
    <h1 class="font-semibold text-4xl">
      Redes
      <span class="text-ataria-color">UBIQUITI</span>
    </h1>
    <br />
    <p>
      Ubiquiti usa consolas y hardware UniFi OS para ayudarlo a administrar su
      red. En la red UniFi, puede ver y administrar varios aspectos de su
      sistema Wifi. Por ejemplo, puede ver gráficos e imágenes en tiempo real de
      lo que sucede en su red. También puede optar por ver las cosas en general
      o por dispositivo. Esto lo ayuda a administrar su red, ver a dónde van los
      datos y evaluar cualquier problema dentro de su red wifi.
    </p>
    <br />
    <p>
      La tecnología Auto VPN conecta de manera segura las sucursales en 3 clics,
      a través de un panel intuitivo basado en la web. Administre y monitoree
      intuitivamente las ubicaciones físicas para garantizar experiencias
      seguras para todos.
    </p>
  </div>
  <div class="contenedor lg:my-0 my-10">
    <img src="../../../assets/unifi.jpg" alt="" />
  </div>
  <div class="contenedor lg:my-0 my-10">
    <img src="../../../assets/cenarios-de-uso-unifi.jpg" alt="" />
  </div>
  <div>
    <h1 class="font-semibold text-4xl">
      Solución <span class="text-ataria-color">Escalable</span>
    </h1>
    <br>
    <p>
      La línea UniFi de Ubiquiti Networks se desarrolló para su uso en entornos
      interiores (interiores) y exteriores (exteriores). El equipo tiene un
      acabado discreto y de alta calidad, con soporte para montaje en techo o
      pared y fuente de alimentación PoE (reciben energía a través del cable de
      red). Uno de los aspectos más destacados de la solución UniFi es su
      controlador inalámbrico de software, que tiene muchas funciones.
    </p>
  </div>
</div>
