<!--Banner-->
<section class="w-full">
  <img
    src="../../../assets/AtariaBanner.jpg"
    alt=""
    style="width: 100%; overflow: hidden"
  />
</section>

<!--Quiénes somos-->
<section class="lg:flex justify-center align-middle lg:my-10 my-5 lg:p-20 p-5">
  <div class="lg:w-50% md:mx-5">
    <div class="md:p-5">
      <h2 class="md:text-3xl text-xl font-semibold text-ataria-color">
        ¿Quiénes somos?
      </h2>
      <h1 class="md:text-7xl text-5xl font-bold my-5">
        GRUPO <span class="text-ataria-color">MKG</span>
      </h1>
      <div class="parrafos md:text-lg text-base py-5">
        <p class="my-2">
          Somos una empresa conformada por ex ingenieros altamente calificados
          de algunas de las empresas de tecnología más reconocidas en el
          mercado.
        </p>
        <p class="my-2">
          Nos hemos unido para ofrecer soluciones innovadoras y eficientes en el
          ámbito tecnológico, con el objetivo de satisfacer las necesidades y
          exigencias de nuestros clientes. Contamos con amplia experiencia en el
          desarrollo de proyectos y servicios de tecnología de información y
          comunicación (TIC), así como en la gestión de proyectos de gran
          envergadura.
        </p>
        <p class="my-2">
          Nos enorgullece haber formado un equipo de profesionales altamente
          capacitados, capaces de proporcionar soluciones a medida, adaptadas a
          las necesidades de cada cliente. Nuestro compromiso con la calidad y
          la excelencia nos ha permitido consolidarnos en el mercado y
          posicionarnos como una empresa líder en el ámbito tecnológico.
        </p>
      </div>
    </div>
  </div>
  <div class="lg:w-50%">
    <div class="grid grid-cols-2 gap-5">
      <div
        class="flex justify-center items-center md:h-[280px] h-[100px] w-full"
      >
        <img
          src="../../../assets/img1.jpg"
          alt=""
          class="rounded-md h-full w-full"
        />
      </div>
      <div
        class="flex justify-center items-center md:h-[280px] h-[100px] w-full"
      >
        <img
          src="../../../assets/img2.jpg"
          alt=""
          class="rounded-md h-full w-full"
        />
      </div>
      <div
        class="col-span-2 flex justify-center items-center md:h-[300px] h-[180px]"
      >
        <img
          src="../../../assets/ATARIA.jpg"
          alt=""
          class="rounded-md h-full w-full"
        />
      </div>
    </div>
  </div>
</section>

<!--Misión Visión-->
<section
  class="lg:flex justify-center align-middle text-white bg-cyan-100 md:p-10"
>
  <div class="lg:w-[33%] flex-col justify-center align-middle p-5">
    <div
      class="card md:m-5 md:p-10 p-5 h-full bg-cyan-500 shadow-2xl hover:shadow-cyan-500 transition duration-500"
    >
      <h1 class="md:text-5xl text-2xl font-bold">Misión</h1>
      <p class="md:text-lg mt-8">
        Ataria Technology es una empresa especializada en la integración de
        servicios de Ingenieniería. A partir de la interrelación con todos
        nuestros grupos de interés. Contando con personal capacitado e idóneo
        con el fin de ofrecer un servicio de alta calidad para lograr los
        objetivos de satisfacción del cliente final.
      </p>
    </div>
  </div>
  <div class="lg:w-[33%] lg:block hidden">
    <img src="../../../assets/target.png" alt="" />
  </div>
  <div class="lg:w-[33%] md:flex-col justify-center align-middle p-5">
    <div
      class="card md:m-5 md:p-10 p-5 h-full bg-cyan-400 shadow-2xl hover:shadow-cyan-400 transition duration-500"
    >
      <h1 class="md:text-5xl text-2xl font-bold">Visión</h1>
      <p class="md:text-lg mt-8">
        Ataria Technology será reconocida como la empresa líder en la innovación
        de productos orientados a la integración de tecnologías de Ingeniería,
        brindando a nuestros clientes soluciones a la medida de sus necesidades,
        con base en la arquitectura de servicios eficientes y metodologías
        altamente productivas, contando con un excelente equipo de profesionales
        que contribuyan a crear valor agregado a nuestros servicios.
      </p>
    </div>
  </div>
</section>

<!--Valores de la empresa-->
<section
  class="grid lg:grid-cols-6 grid-cols-2 md:gap-10 md:p-10 p-5 uppercase bg-cyan-700 text-white"
>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-purple-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-handshake fa-bounce m-3"></i>
    <p>Servicio</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-blue-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-heart fa-bounce m-3"></i>
    <p>Honestidad</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-green-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-face-smile-beam fa-bounce m-3"></i>
    <p>Respeto</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-yellow-400 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-fire fa-bounce m-3"></i>
    <p>Pasión</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-orange-400 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-award fa-bounce m-3"></i>
    <p>Calidad</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-red-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-business-time fa-bounce m-3"></i>
    <p>Disciplina</p>
  </div>
</section>

<!--Opinión Colaboradores-->
<section class="w-full lg:my-20 my-10 py-10">
  <h1 class="text-center font-semibold md:text-5xl text-2xl lg:my-10 uppercase">
    Opiniones de nuestros <span class="text-ataria-color">colaboradores</span>
  </h1>
  <div
    class="grid lg:grid-cols-3 grid-cols-1 lg:gap-20 gap-5 lg:m-30 m-10 h-auto"
  >
    <!--Card 1-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>

    <!--Card 2-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>

    <!--Card 3-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>
  </div>
</section>
