<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-60 lg:py-40 px-10 py-40">
  <div>
    <h1 class="font-bold text-3xl lg:text-start text-center">
      Sistema de Vigilancia de Seguridad
      <span class="text-ataria-color">CCTV</span> Negocio o Empresas
    </h1>
    <br />
    <p>
      Funciona a través de un software que realiza detección de movimientos
      alertando a nuestros operadores mediante imágenes en tiempo real de lo que
      está sucediendo en la instalación.
    </p>
  </div>
  <div
    class="contenedor flex justify-center align-middle items-center lg:mt-0 mt-10"
  >
    <img
      src="../../../assets/cctv0.webp"
      alt=""
      class="rounded-lg shadow-lg"
    />
  </div>
</div>
