<!--Valores corporativos-->
<section
  class="grid lg:grid-cols-6 grid-cols-2 md:gap-10 md:p-10 p-5 uppercase bg-cyan-700 text-white"
>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-purple-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-handshake fa-bounce m-3"></i>
    <p>Servicio</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-blue-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-heart fa-bounce m-3"></i>
    <p>Honestidad</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-green-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-regular fa-face-smile-beam fa-bounce m-3"></i>
    <p>Respeto</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-yellow-400 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-fire fa-bounce m-3"></i>
    <p>Pasión</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-orange-400 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-award fa-bounce m-3"></i>
    <p>Calidad</p>
  </div>
  <div
    class="flex-col justify-center align-middle text-center md:text-3xl text-lg hover:text-red-500 transition duration-200 cursor-pointer"
  >
    <i class="fa-solid fa-business-time fa-bounce m-3"></i>
    <p>Disciplina</p>
  </div>
</section>
