<!--Footer-->
<footer class="bg-slate-900 text-white pt-5 w-full">
  <div
    class="md:grid md:flex-none flex flex-wrap align-middle content-center md:grid-cols-4 grid-cols-none md:gap-2"
  >
    <!--Logo-->
    <div class="flex flex-col justify-center w-full">
      <div
        class="flex justify-center align-middle content-center logo md:pb-4 md:my-0 my-4"
      >
        <img
          src="../../assets/ATARIA-FOOTER-SMALLER.png"
          alt=""
          style="width: 160px; height: 200px"
        />
      </div>
      <div
        class="flex flex-col justify-center align-middle content-center info"
      >
        <div class="md:text-base text-center">
          <p class="md:m-4 my-2">
            <i class="fa-solid fa-location-dot mx-2"></i>La Concepcion #81 Of.
            214, Providencia
          </p>
          <p class="md:m-4 my-2">
            <i class="fa-solid fa-phone-volume mx-2"></i>Teléfono: (+56) 9 4061
            7279
          </p>
          <p class="md:m-4 my-2">
            <i class="fa-solid fa-headset mx-2"></i>Contacto:
            contacto@grupomkg.cl
          </p>
        </div>
      </div>
    </div>

    <!--Soporte-->
    <div class="md:block md:m-0 m-6 pt-10 hidden">
      <h1 class="text-xl font-bold">Soporte</h1>
      <p class="text-lg my-3"><a href="">Remote Desktop</a></p>
      <p class="text-lg my-3"><a href="">Registro de incidentes</a></p>
      <p class="text-lg my-3"><a href="">Soporte 24/7</a></p>
    </div>

    <!--Servicios-->
    <div class="md:block md:m-0 m-6 pt-10 hidden">
      <h1 class="text-xl font-bold">Servicios</h1>
      <p class="text-lg my-3"><a href="">Soporte computacional</a></p>
      <p class="text-lg my-3"><a href="">CCTV</a></p>
      <p class="text-lg my-3"><a href="">Redes y Fibra óptica</a></p>
      <p class="text-lg my-3"><a href="">Control de acceso</a></p>
      <p class="text-lg my-3"><a href="">Data center</a></p>
      <p class="text-lg my-3"><a href="">Proyectos informáticos</a></p>
      <p class="text-lg my-3"><a href="">Electricidad</a></p>
    </div>

    <!--Enlaces-->
    <div class="md:grid grid-rows-2 md:m-0 m-6 pt-10 hidden">
      <div>
        <h1 class="text-xl font-bold">Enlaces</h1>
        <p class="text-lg my-3"><a href="">Cuál es mi IP</a></p>
        <p class="text-lg my-3"><a href="">Speed Test</a></p>
        <p class="text-lg my-3"><a href="">IP Scan</a></p>
        <p class="text-lg my-3"><a href="">MXTOOLBOX</a></p>
        <p class="text-lg my-3"><a href="">OSTICKET</a></p>
      </div>
      <div class="pt-10">
        <h1 class="text-xl font-bold my-2">Redes sociales</h1>
        <div class="text-xl">
          <a
            href="#"
            class="mx-1 hover:text-ataria-color transition duration-300"
          >
            <i class="fa-brands fa-instagram mx-2"></i>
          </a>
          <a
            href="#"
            class="mx-1 hover:text-ataria-color transition duration-300"
          >
            <i class="fa-brands fa-linkedin mx-2"></i>
          </a>
          <a
            href="#"
            class="mx-1 hover:text-ataria-color transition duration-300"
          >
            <i class="fa-brands fa-square-x-twitter mx-2"></i>
          </a>
          <a
            href="#"
            class="mx-1 hover:text-ataria-color transition duration-300"
          >
            <i class="fa-brands fa-square-facebook mx-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Dropdown-->
  <div class="dropdown-container md:hidden">
    <!--Soporte-->
    <div class="soporte block p-6">
      <button
        id="footerDropdownButton"
        class="text-lg p-5 border-b-2 border-slate-500 w-full hover:text-ataria-color transition duration-500"
      >
        <span class="arrowIcon mr-2"
          ><i class="fa-solid fa-chevron-up"></i
        ></span>
        Soporte
      </button>
      <ul class="hidden p-2 mt-2v">
        <li><a href="#">Remote Desktop</a></li>
        <li><a href="#">Registro de incidentes</a></li>
        <li><a href="#">Soporte 24/7</a></li>
      </ul>
    </div>

    <!--Servicios-->
    <div class="servicios block p-6">
      <button
        id="footerDropdownButton"
        class="text-lg p-5 border-b-2 border-slate-500 w-full hover:text-ataria-color transition duration-500"
      >
        <span class="arrowIcon mr-2"
          ><i class="fa-solid fa-chevron-up"></i
        ></span>
        Servicios
      </button>
      <ul class="hidden p-2 mt-2v">
        <li><a href="#">Soporte computacional</a></li>
        <li><a href="#">CCTV</a></li>
        <li><a href="#">Redes y fibra óptica</a></li>
        <li><a href="#">Control de acceso</a></li>
        <li><a href="#">Data center</a></li>
        <li><a href="#">Proyectos informáticos</a></li>
        <li><a href="#">Electricidad</a></li>
      </ul>
    </div>

    <!--Enlaces-->
    <div class="enlaces block p-6">
      <button
        id="footerDropdownButton"
        class="text-lg p-5 border-b-2 border-slate-500 w-full hover:text-ataria-color transition duration-500"
      >
        <span class="arrowIcon mr-2"
          ><i class="fa-solid fa-chevron-up"></i
        ></span>
        Enlaces
      </button>
      <ul class="hidden p-2 mt-2v">
        <li><a href="#">Cuál es mi IP</a></li>
        <li><a href="#">Speed Test</a></li>
        <li><a href="#">IP Scan</a></li>
        <li><a href="#">MXTOOLBOX</a></li>
        <li><a href="#">OSTICKET</a></li>
      </ul>
    </div>
  </div>

  <!--Redes sociales responsive-->
  <div class="md:hidden pt-10 w-full text-center py-5">
    <h1 class="text-xl font-bold mb-2">Redes sociales</h1>
    <div class="text-xl">
      <a href="#" class="mx-1 hover:text-ataria-color transition duration-300">
        <i class="fa-brands fa-instagram mx-2"></i>
      </a>
      <a href="#" class="mx-1 hover:text-ataria-color transition duration-300">
        <i class="fa-brands fa-linkedin mx-2"></i>
      </a>
      <a href="#" class="mx-1 hover:text-ataria-color transition duration-300">
        <i class="fa-brands fa-square-x-twitter mx-2"></i>
      </a>
      <a href="#" class="mx-1 hover:text-ataria-color transition duration-300">
        <i class="fa-brands fa-square-facebook mx-2"></i>
      </a>
    </div>
  </div>
</footer>

<!--Copyright-->
<section
  class="bg-slate-900 text-white p-2 text-center border-t-2 border-slate-700"
>
  <p>
    <a href="#" class="font-bold">MKG</a> 2023 DESARROLLADO POR
    <a href="#" class="font-bold">ATARIA TECHNOLOGY</a>. GRUPO MKG.
  </p>
</section>
