<section class="md:my-20 mx-2 uppercase">
    <h1 class="text-center my-10 font-bold md:text-4xl text-xl">
      Soluciones <span class="text-ataria-color">Ataria Technology</span>
    </h1>
    <div class="mb-10 grid md:grid-rows-2 grid-rows-5 grid-flow-col gap-1">
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-plug text-xl"></i>
            <h1 class="font-semibold m-1">Cableado y Fibra óptica</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-wifi text-xl"></i>
            <h1 class="font-semibold m-1">Estudio de cobertura</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-bolt text-xl"></i>
            <h1 class="font-semibold m-1">Redes eléctricas</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-file-signature text-xl"></i>
            <h1 class="font-semibold m-1">Certificaciones punto de red</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-globe text-xl"></i>
            <h1 class="font-semibold m-1">Soluciones Wifi</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-shield-halved text-xl"></i>
            <h1 class="font-semibold m-1">Control de acceso</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-laptop text-xl"></i>
            <h1 class="font-semibold m-1">Outsourcing TI</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-server text-xl"></i>
            <h1 class="font-semibold m-1">Data center</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-tv text-xl"></i>
            <h1 class="font-semibold m-1">CC TV</h1>
          </div>
        </div>
      </div>
      <div
        id="servicio"
        class="bg-white p-4 rounded-sm hover:text-ataria-color hover:border-b hover:border-r border-ataria-color cursor-pointer h-100% transition duration-300"
      >
        <div class="card">
          <div class="card-header text-center">
            <i class="fa-solid fa-palette text-xl"></i>
            <h1 class="font-semibold m-1">Desarrollo web</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
