<!--Misión y visión-->
<section
  class="lg:flex justify-center align-middle text-white bg-cyan-100 md:p-10"
>
  <div class="lg:w-[33%] flex-col justify-center align-middle p-5">
    <div
      class="card md:m-5 md:p-10 p-5 h-full bg-cyan-500 shadow-2xl hover:shadow-cyan-500 transition duration-500"
    >
      <h1 class="md:text-5xl text-2xl font-bold">Misión</h1>
      <p class="md:text-lg mt-8">
        Ataria Technology es una empresa especializada en la integración de
        servicios de Ingenieniería. A partir de la interrelación con todos
        nuestros grupos de interés. Contando con personal capacitado e idóneo
        con el fin de ofrecer un servicio de alta calidad para lograr los
        objetivos de satisfacción del cliente final.
      </p>
    </div>
  </div>
  <div class="lg:w-[33%] lg:block hidden">
    <img src="../../../assets/target.png" alt="" />
  </div>
  <div class="lg:w-[33%] md:flex-col justify-center align-middle p-5">
    <div
      class="card md:m-5 md:p-10 p-5 h-full bg-cyan-400 shadow-2xl hover:shadow-cyan-400 transition duration-500"
    >
      <h1 class="md:text-5xl text-2xl font-bold">Visión</h1>
      <p class="md:text-lg mt-8">
        Ataria Technology será reconocida como la empresa líder en la innovación
        de productos orientados a la integración de tecnologías de Ingeniería,
        brindando a nuestros clientes soluciones a la medida de sus necesidades,
        con base en la arquitectura de servicios eficientes y metodologías
        altamente productivas, contando con un excelente equipo de profesionales
        que contribuyan a crear valor agregado a nuestros servicios.
      </p>
    </div>
  </div>
</section>
