<!--Lista de servicios-->
<ul class="my-5">
  <!--Servicio 1-->
  <li>
    <a
      href="servicios/cable-fibra"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio1.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">
          DISEÑO E INSTALACIÓN DE REDES CABLEADO Y FIBRA ÓPTICA.
        </h1>
        <p class="descripcion my-5 overflow-hidden">
          Orientado a la implantación de plataformas de cableado para
          comunicaciones, en este servicio se considera el suministro,
          construcción y puesta en servicio de plataformas de comunicaciones,
          basado en la aplicación de especificaciones técnicas asociadas al
          diseño y construcción, sustentados en documentos de Ingeniería básica
          y/o de detalles.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 2-->
  <li>
    <a
      href="servicios/redes-electricas"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio2.jpeg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">REDES ELÉCTRICAS.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Consiste en el suministro e instalación de redes eléctricas de
          servicio y computación, donde MKG está capacitada para suministrar,
          instalar, probar y poner en servicio instalaciones eléctricas
          interiores en recinto privados, públicos.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 3-->
  <li>
    <a
      href="servicios/wifi"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio3.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">SOLUCIONES WI-FI.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Los dispositivos de seguridad de Cisco Meraki pueden implementarse de
          forma remota en cuestión de minutos mediante el aprovisionamiento
          automatizado en la nube. La configuración de seguridad es fácil de
          sincronizar en miles de sitios mediante el uso de plantillas. La
          tecnología Auto VPN conecta de manera segura las sucursales en 3
          clics, a través de un panel intuitivo basado en la web. Administre y
          monitoree intuitivamente las ubicaciones físicas para garantizar
          experiencias seguras para todos.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 4-->
  <li>
    <a
      href="servicios/outsourcing"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio4.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">OUTSOURCING TI.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Con nuestro servicio outsourcing TI para empresas nos encargamos del
          recurso más importante de tu negocio: Las personas. Actualmente se
          hace cada vez más difícil encontrar a la persona correcta en el área
          informática, en particular ciertas áreas de la informática. Hay varios
          tipos de Outsourcing informático, desde contratar un recurso on-site
          con un perfil técnico determinado hasta el outsourcing informático en
          que toda el área informática se externaliza con una empresa de
          confianza. Nosotros contamos con todas estas alternativas para el
          servicio outsourcing TI para empresas. Nos encargamos de buscar,
          contratar y administrar a los mejores ingenieros para que no te
          preocupes de nada!
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 5-->
  <li>
    <a
      href="servicios/cctv"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio5.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">CCTV.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Funciona a través de un software que realiza detección de movimientos
          alertando a nuestros operadores mediante imágenes en tiempo real de lo
          que está sucediendo en la instalación.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 6-->
  <li>
    <a
      href="servicios/cobertura"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio6.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">ESTUDIO COBERTURA.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Dado que la redes inalámbricas son muchísimo más complejas que las
          redes cableadas se requiere de conocimientos avanzados y herramientas
          especiales para realizar diagnósticos de funcionamiento. En MKG
          ofrecemos un conjunto de servicios de medición y diagnóstico de redes
          inalámbricas que van desde pruebas rápidas de operación con entrega de
          resultados durante el mismo día hasta pruebas de desempeño
          desarrolladas a pedido, pasando por estudios de cobertura o site
          surveys pasivos, activos o predictivos. Para ello utilizamos la
          herramienta de software y hardware más poderosa que existe en el
          mercado actualmente.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 7-->
  <li>
    <a
      href="servicios/certificaciones"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio7.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">
          CERTIFICACIONES PUNTO DE RED.
        </h1>
        <p class="descripcion my-5 overflow-hidden">
          La certificación de una red de cableado estructurado o red de cableado
          informático es el proceso mediante el cual garantiza que la
          instalación cumple con las normativas oficiales.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 8-->
  <li>
    <a
      href="servicios/control-acceso"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio8.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">CONTROL DE ACCESO.</h1>
        <p class="descripcion my-5 overflow-hidden">
          El sistema de control de acceso de ZKTeco es una solución robusta y
          eficiente que permite gestionar de manera segura la entrada y salida
          de personas en diferentes áreas restringidas. Con su avanzada
          tecnología de reconocimiento biométrico, como huellas dactilares y
          reconocimiento facial, ZKTeco garantiza una autenticación precisa y
          confiable.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 9-->
  <li>
    <a
      href="servicios/data-center"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio9.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">DATA CENTER.</h1>
        <p class="descripcion my-5 overflow-hidden">
          La mantención adecuada de un datacenter es fundamental para asegurar
          la disponibilidad y confiabilidad de los servicios críticos que se
          alojan en él. Un datacenter es un entorno complejo que alberga
          servidores, sistemas de almacenamiento, redes, sistemas de energía y
          climatización, entre otros componentes. Por lo tanto, llevar a cabo un
          plan de mantención regular es esencial para minimizar riesgos y
          maximizar el rendimiento.
        </p>
      </div>
    </a>
  </li>
  <!--Servicio 10-->
  <li>
    <a
      href="servicios/desarrollo-web"
      class="service h-auto grid md:grid-cols-4 md:grid-rows-none grid-cols-none grid-rows-2 gap-5 m-10 border border-gray-100 shadow-md"
    >
      <div class="contenedor">
        <img
          src="../../../assets/servicio10.jpg"
          alt=""
          class="w-full h-full overflow-hidden"
        />
        <h1 class="font-semibold text-xl uppercase">Ver más</h1>
      </div>
      <div class="md:col-span-3 w-full md:p-5 py-1 px-5">
        <h1 class="font-semibold md:text-3xl uppercase">DESARROLLO WEB.</h1>
        <p class="descripcion my-5 overflow-hidden">
          Creamos tu página web 100% a medida para que llames la atención con
          una imagen moderna y profesional en un nuevo contexto dónde la
          presencia digital es el motor de cualquier esfuerzo comercial.
        </p>
      </div>
    </a>
  </li>
</ul>
