<section id="Contacto" class="my-10">
  <div class="container mx-auto mt-8 p-10 uppercase">
    <div class="header-form">
      <h1 class="text-4xl font-bold mt-5 text-center">¿Dónde encontrarnos?</h1>
      <p class="text-sm font-medium md:mb-2 mb-6 text-center">
        Comunicate con nosotros y resuelve tus dudas
      </p>
    </div>
    <form id="formulario">
      <label for="" class="block text-black font-semibold">Nombre</label>
      <input
        placeholder="Nombre*"
        type="text"
        name="nombre"
        id="nombre"
        class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        minlength="2"
        required
      />
      <span id="errorNombre"></span>
      <label for="" class="block text-black font-semibold">Apellido</label>
      <input
        placeholder="Apellido*"
        type="text"
        name="apellido"
        id="apellido"
        class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        minlength="2"
        required
      />
      <span id="errorApellido"></span>
      <label for="" class="block text-black font-semibold"
        >Correo electrónico</label
      >
      <input
        placeholder="Email*"
        type="email"
        name="email"
        id="email"
        class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        minlength="8"
        required
      />
      <span id="errorEmail"></span>
      <label for="" class="block text-black font-semibold">Teléfono</label>
      <input
        placeholder="Telefono*"
        type="text"
        name="telefono"
        id="telefono"
        class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        minlength="9"
        maxlength="13"
        required
      />
      <span id="errorTelefono"></span>
      <label for="" class="block text-black font-semibold">Mensaje</label>
      <textarea
        placeholder="¿Qué tipo de solución requieres?"
        name="mensaje"
        id="mensaje"
        cols="30"
        rows="5"
        class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
        required
        minlength="4"
        maxlength="900"
      ></textarea>
      <div class="mt-6">
        <button
          type="submit"
          class="bg-ataria-color hover:bg-cyan-700 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue active:bg-cyan-700"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>
