<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-60 lg:py-10 px-5 py-10">
  <div class="lg:mt-0 mt-20">
    <h1 class="font-bold text-3xl lg:text-start text-center">
      Soluciones acertadas <span class="text-ataria-color">Outsoursing TI</span>
    </h1>
    <br />
    <p>
      Con nuestro servicio outsourcing TI para empresas nos encargamos del
      recurso más importante de tu negocio: Las personas. Actualmente se hace
      cada vez más difícil encontrar a la persona correcta en el área
      informática, en particular ciertas áreas de la informática. Hay varios
      tipos de Outsourcing informático, desde contratar un recurso on-site con
      un perfil técnico determinado hasta el outsourcing informático en que toda
      el área informática se externaliza con una empresa de confianza. Nosotros
      contamos con todas estas alternativas para el servicio outsourcing TI para
      empresas. Nos encargamos de buscar, contratar y administrar a los mejores
      ingenieros para que no te preocupes de nada!
    </p>
  </div>
  <div class="contenedor flex justify-center align-middle items-center lg:mt-0 mt-20">
    <img
      src="../../../assets/colleagues-giving-fist-bump-1-scaled-770x400@2x-1300x675.jpg"
      alt=""
      class="rounded-lg shadow-lg"
    />
  </div>
</div>

<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-60 lg:py-10 px-5 py-10 mb-20">
  <div
    class="contenedor flex justify-center align-middle items-center py-10 lg:py-0 w-full"
  >
    <img
      src="../../../assets/Software-outsourcing.jpg"
      alt=""
      class="w-full h-full"
    />
  </div>
  <div>
    <h1 class="font-bold text-3xl">
      Personal <span class="text-ataria-color">Altamente</span> Capacitado
    </h1>
    <br />
    <p>
      El primer paso en la selección de personal idóneo para el outsourcing de
      TI es definir claramente los perfiles y las habilidades requeridas para
      cada puesto. Esto implica identificar las competencias técnicas
      necesarias, como conocimientos específicos de programación, experiencia en
      sistemas operativos o dominio de determinadas tecnologías. Además, es
      importante considerar las habilidades blandas, como la capacidad de
      trabajo en equipo, la comunicación efectiva y la resolución de problemas.
    </p>
  </div>
</div>
