<div
  id="banner"
  class="text-center text-white font-bold uppercase text-4xl p-20"
>
  Diseño e instalación de redes de cableado y fibra óptica
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-20 lg:py-20 px-5 py-10">
  <div class="contenedor flex justify-center align-middle items-center">
    <img
      src="../../../assets/servicio1.jpg"
      alt=""
      class="rounded-lg shadow-lg"
    />
  </div>
  <div class="lg:mt-0 mt-20">
    <h1
      class="font-bold text-3xl pb-5 border-b-2 border-ataria-color lg:text-start text-center"
    >
      Redes
    </h1>
    <p class="pt-5">
      Orientado a la implantación de plataformas de cableado para
      comunicaciones, en este servicio se considera el suministro, construcción
      y puesta en servicio de plataformas de comunicaciones, basado en la
      aplicación de especificaciones técnicas asociadas al diseño y
      construcción, sustentados en documentos de Ingeniería básica y/o de
      detalles. La implantación de plataformas de telecomunicaciones considera
      la certificación de sus segmentos, tanto en cobre (UTP) como en fibra
      óptica (FO), conforme estándares nternacionales.
    </p>
    <ul class="mt-10">
      <li>
        <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
        Redes de cableado estructurado categoría 6A.
      </li>
      <li>
        <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
        Redes de cableado estructurado categoría 5e.
      </li>
      <li>
        <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
        Redes telefónicas convencionales.
      </li>
      <li>
        <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
        Redes de fibra óptica interior (vertical).
      </li>
      <li>
        <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
        Redes eléctricas para computación y servicios.
      </li>
    </ul>
  </div>
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-20 lg:py-20 px-5 py-10">
  <div>
    <h1
      class="font-bold text-3xl pb-5 border-b-2 border-ataria-color lg:text-end text-center"
    >
      Redes de cableado estructural
    </h1>
    <br />
    <p>
      Este servicio consiste en el suministro, instalación y puesta en servicio
      de redes de área local (LAN) a través de cableado estructurado al interior
      de las empresas.
    </p>
    <br />
    <p>
      La implantación de estas redes de cableado estructurado, considera tanto
      el suministro como la instalación de todos los puntos de concentración de
      la plataforma de comunicaciones, tales como gabinetes de comunicaciones,
      gabinetes de equipos, gabinetes de piso, etc., junto a todos los elementos
      de red de área local necesarios (paneles de conexión, cordones de
      conexión, cordones de usuarios, guías de cables y otros), así como sus
      cableados estructurados categoría 6A, 6, 5e y 3, o si fuera el caso, el
      cableado genérico asociado.
    </p>
    <br />
    <p>
      Las redes de área local (LAN) son confeccionadas con cables de última
      generación, como cables UTP, STP, FTP y FO, en orden de satisfacer todas
      las necesidades de comunicaciones de voz y datos entre los usuarios, al
      interior de esta red así como con el exterior de esta red, a través de sus
      equipos de conectividad de redes.
    </p>
    <br />
    <p>
      Todas nuestras redes son sometidas a un proceso de control de calidad y
      certificación de red, lo cual asegura que esta responda a los estándares
      de calidad y conectividad requeridos por el cliente, enmarcado en
      estándares propios de la industria.
    </p>
  </div>
  <div
    class="contenedor flex justify-center align-middle items-center py-10 lg:py-0 w-full"
  >
    <img
      src="../../../assets/young-man-engineer-making-program-analyses-1.png"
      alt=""
      class="rounded-lg shadow-lg w-full h-full"
    />
  </div>
</div>
