<!--Opinión Colaboradores-->
<section class="w-full lg:my-20 my-10 py-10">
  <h1 class="text-center font-semibold md:text-5xl text-2xl lg:my-10 uppercase">
    Opiniones de nuestros <span class="text-ataria-color">colaboradores</span>
  </h1>
  <div
    class="grid lg:grid-cols-3 grid-cols-1 lg:gap-20 gap-5 lg:m-30 m-10 h-auto"
  >
    <!--Card 1-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>

    <!--Card 2-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>

    <!--Card 3-->
    <div
      class="card w-full p-5 bg-cyan-700 text-white rounded-md shadow-md shadow-gray-500"
    >
      <div class="card-header mb-2 flex">
        <div class="md:h-[70px] h-[50px] md:w-[70px] w-[50px]">
          <img
            src="../../../assets/profile.png"
            alt=""
            class="h-full w-full rounded-full"
          />
        </div>
        <div class="info ml-3">
          <h1 class="font-semibold">Juan Perez</h1>
          <div class="rating">
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
            <i class="fa-solid fa-star" style="color: #ffdd00"></i>
          </div>
          <h2 class="text-sm">Gerente TI</h2>
        </div>
      </div>
      <div class="card-body h-full">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nesciunt
          placeat unde molestiae ducimus sed nam cupiditate, non corporis rem
          mollitia dolor! Adipisci, quod ipsa sunt harum deserunt dolorem odio!
        </p>
      </div>
    </div>
  </div>
</section>
