<div
  id="banner"
  class="text-center text-white font-bold uppercase lg:text-5xl text-2xl p-20"
>
  Certificaciones de punto de red
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-20 lg:py-20 px-5 py-10">
  <div class="lg:mt-0 mt-20">
    <h1
      class="font-bold lg:text-5xl text-2xl pb-5 border-b-2 border-ataria-color lg:text-start text-center"
    >
      Certificaciones de punto de red
    </h1>
    <div class="my-10">
        <p class="text-xl">
            La certificación de una red de cableado estructurado o red de cableado
            informático es el proceso mediante el cual garantiza que la instalación
            cumple con las normativas oficiales.
          </p>
          <br />
          <p class="text-xl">
            MKG cuenta con más de 13 años de experiencia en el área de las
            Telecomunicaciones, conectividad y redes, además, contamos profesionales
            altamente calificados para brindarles un servicio garantizado en calidad y
            que se ajuste a sus requerimientos. Por lo tanto, nuestros trabajos
            cuentan con garantía y calidad comprobada.
          </p>
          <br />
          <p class="text-xl">
            Entregamos a nuestros clientes todos sus puntos de red y fibra óptica
            debidamente certificados, con equipamiento especializado.
          </p>
          <br />
          <p class="text-xl">
            Realizamos proyectos a lo largo de todo Chile, envíanos tu requerimiento a
            contacto@atariatechnology.cl y un ejecutivo lo asesorará.
          </p>
    </div>
  </div>
  <div class="contenedor lg:flex justify-center lg:my-0 my-12">
    <img
      src="../../../assets/img9.jpg"
      alt=""
      class="rounded-lg shadow-lg w-full"
    />
  </div>
</div>
