<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-20 lg:py-20 px-5 py-10">
  <div class="lg:mt-0 mt-20">
    <h1
      class="font-bold lg:text-4xl text-2xl pb-5 border-b-2 border-ataria-color lg:text-start text-center"
    >
      Sistema
      <span class="text-ataria-color">Control de Acceso</span> Empresarial
    </h1>
    <div class="my-10">
      <p>
        "El sistema de control de acceso de ZKTeco es una solución robusta y
        eficiente que permite gestionar de manera segura la entrada y salida de
        personas en diferentes áreas restringidas. Con su avanzada tecnología de
        reconocimiento biométrico, como huellas dactilares y reconocimiento
        facial, ZKTeco garantiza una autenticación precisa y confiable.
      </p>
      <br />
      <p>
        El software de control de acceso de ZKTeco ofrece una amplia gama de
        características y funcionalidades. Permite la configuración de horarios
        y restricciones de acceso para cada usuario, lo que garantiza que solo
        las personas autorizadas puedan ingresar a determinadas zonas en
        momentos específicos. Además, el sistema registra de manera precisa y
        detallada todos los eventos relacionados con el acceso, lo que facilita
        la generación de informes y el monitoreo de la seguridad.
      </p>
    </div>
  </div>
  <div class="contenedor lg:flex justify-center lg:my-0 my-12">
    <img src="../../../assets/img10.jpg" alt="" class="w-full" />
  </div>
</div>
