<div
  id="banner"
  class="text-center text-white font-bold uppercase md:text-5xl text-3xl p-20"
>
  Diseño e instalación de redes eléctricas
</div>
<div class="lg:grid lg:grid-cols-2 gap-5 lg:px-20 lg:py-20 px-5 py-10">
  <div class="contenedor flex justify-center align-middle items-center">
    <img
      src="../../../assets/servicio2.jpeg"
      alt=""
      class="rounded-lg shadow-lg"
    />
  </div>
  <div class="lg:mt-0 mt-20">
    <h1
      class="font-bold text-3xl pb-5 border-b-2 border-ataria-color lg:text-start text-center"
    >
      Redes Eléctricas de servicio y computación
    </h1>
    <p class="pt-5">
      Consiste en el suministro e instalación de redes eléctricas de servicio y
      computación, donde MKG está capacitada para suministrar, instalar, probar
      y poner en servicio instalaciones eléctricas interiores en recinto
      privados, públicos.
    </p>
  </div>
  <ul class="mt-2">
    <p>
      Considerando estas instalaciones el suministro, instalación, pruebas y
      servicio de la siguientes partidas eléctricas.
    </p>
    <br />
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Alimentadores de media tensión (AMT).
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Celda de media tensión (CMT).
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Transformador de media/baja tensión (TMT).
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Tablero general (TGDAFC y Comp.)
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Tablero de tierras de protección (TTP)
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Tablero de calefacción (TDFC)
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Tablero de Alumbrado (TDA)
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Circuitos de calefacción.
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Circuitos de enchufes de alumbrado.
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Circuitos de enchufes de servicio.
    </li>
    <li>
      <i class="fa-solid fa-globe mx-2 text-gray-500"></i>
      Circuitos de computación.
    </li>
  </ul>
  <div>
    <p>
      Estas instalaciones eléctricas cuentan con todos sus elementos de respaldo
      y protecciones, necesarias para el buen funcionamiento del sistema y
      soportar el consumo eléctrico demandado.
    </p>
    <br />
    <p>
      En especial <span class="font-bold text-gray-800">MKG</span> cuenta con
      una gran experiencia en redes eléctricas de computación, donde en estas
      son requeridos distintos tipos de equipos de energía, entre ellos
      acondicionadores de línea, transformadores de aislamiento, unidades de
      poder ininterrumpido UPS y otros, los cuales consideran circuitos
      eléctricos independientes a los de servicio común de las oficinas.
    </p>
    <br />
    <p>
      Estas redes eléctricas de computación son hoy en día “Redes de Misión
      Crítica”, las cuales asociadas a equipos de respaldo de energía, proveen
      al HARDWARE asociado a la red de computación un suministro de energía
      eléctrica seguro y estable.
    </p>
    <br />
    <p>
      Todos los proyectos de redes eléctricas de servicio y computación, son
      sometidos a un proceso de control de calidad, lo cual asegura que esta
      responda a los estándares de calidad y requerimientos de la red de
      computación del cliente.
    </p>
  </div>
</div>
