<div
  id="banner"
  class="text-center text-white font-bold uppercase text-5xl p-20"
>
  Estudio de Cobertura (Site Surveys)
</div>
<div class="lg:grid lg:grid-cols-2 gap-10 lg:px-20 lg:py-44 px-5 py-10">
  <div class="lg:mt-0 mt-20">
    <h1
      class="font-bold text-3xl pb-5 border-b-2 border-ataria-color lg:text-start text-center"
    >
      Estudio de Cobertura (Site Surveys)
    </h1>
    <p class="pt-5 text-xl">
      Dado que la redes inalámbricas son muchísimo más complejas que las redes
      cableadas se requiere de conocimientos avanzados y herramientas especiales
      para realizar diagnósticos de funcionamiento. En MKG ofrecemos un conjunto
      de servicios de medición y diagnóstico de redes inalámbricas que van desde
      pruebas rápidas de operación con entrega de resultados durante el mismo
      día hasta pruebas de desempeño desarrolladas a pedido, pasando por
      estudios de cobertura o site surveys pasivos, activos o predictivos. Para
      ello utilizamos la herramienta de software y hardware más poderosa que
      existe en el mercado actualmente.
    </p>
  </div>
  <div class="contenedor lg:flex justify-center lg:my-0 my-12">
    <img src="../../../assets/img8.jpg" alt="" class="rounded-lg shadow-lg" />
  </div>
</div>
