<!--MKG Group-->
<section class="lg:flex justify-center align-middle lg:my-10 my-5 lg:p-20 p-5">
  <div class="lg:w-50% md:mx-5">
    <div class="md:p-5">
      <h2 class="md:text-3xl text-xl font-semibold text-ataria-color">
        ¿Quiénes somos?
      </h2>
      <h1 class="md:text-7xl text-5xl font-bold my-5">
        GRUPO <span class="text-ataria-color">MKG</span>
      </h1>
      <div class="parrafos md:text-lg text-base py-5">
        <p class="my-2">
          Somos una empresa conformada por ex ingenieros altamente calificados
          de algunas de las empresas de tecnología más reconocidas en el
          mercado.
        </p>
        <p class="my-2">
          Nos hemos unido para ofrecer soluciones innovadoras y eficientes en el
          ámbito tecnológico, con el objetivo de satisfacer las necesidades y
          exigencias de nuestros clientes. Contamos con amplia experiencia en el
          desarrollo de proyectos y servicios de tecnología de información y
          comunicación (TIC), así como en la gestión de proyectos de gran
          envergadura.
        </p>
        <p class="my-2">
          Nos enorgullece haber formado un equipo de profesionales altamente
          capacitados, capaces de proporcionar soluciones a medida, adaptadas a
          las necesidades de cada cliente. Nuestro compromiso con la calidad y
          la excelencia nos ha permitido consolidarnos en el mercado y
          posicionarnos como una empresa líder en el ámbito tecnológico.
        </p>
      </div>
    </div>
  </div>
  <div class="lg:w-50%">
    <div class="grid grid-cols-2 gap-5">
      <div
        class="flex justify-center items-center md:h-[280px] h-[100px] w-full"
      >
        <img src="../../../assets/img1.jpg" alt="" class="rounded-md h-full w-full" />
      </div>
      <div
        class="flex justify-center items-center md:h-[280px] h-[100px] w-full"
      >
        <img src="../../../assets/img2.jpg" alt="" class="rounded-md h-full w-full" />
      </div>
      <div
        class="col-span-2 flex justify-center items-center md:h-[300px] h-[180px]"
      >
        <img src="../../../assets/ATARIA.jpg" alt="" class="rounded-md h-full w-full" />
      </div>
    </div>
  </div>
</section>
